@import "bootstrap/bootstrap";
@import "mdb/mdb";
@import "syntax";

html {
  position: relative;
  min-height: 100%;
}

body.fixed-nav-padding {
  padding-top: 5rem;
}

.intro {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgba($purple-base, 0.60);
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: $purple;
}

@include media-breakpoint-down(sm) {
  .navbar {
    background-color: $purple;
  }
}

.navbar.bg-purple {
  background-color: $purple;
}

html,
body,
header.main-page,
.view {
  height: 100%;
  max-height: 500px;
}

.navbar-brand img {
  width: 32px;
  height: 32px;
}

body::-webkit-scrollbar {
  width: 0.4rem;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #6441A4!important;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.wiki-menu-toggle .btn-purple {
  background-color: #6441A4!important;
  border-radius: .5rem!important;
}

#wiki-menu .list-group {
  display: block;
  border-radius: 1rem!important;
}

#wiki-menu .list-group .list-group-item.active {
  background-color: #6441A4!important;
}

footer.purple {
  background-color: #6441A4!important;
}