<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <main role="main" class="container text-center">
          <img src="/img/biblethump.png" class="m-4" width="350">
          <h2 id="time-to-say-goodbye">Time to say goodbye</h2>
          <p>The journey ends here. Now we gotta move on. Keeping coding and giving people new faith.</p>
          <p>While pandemic gives me opurtunity to thinks what I am gonna do. Now I have decide to close up this story of the <strong>Glitch</strong>.
          Over the 2 years coding this lib and leaving that unmaintained, lonley wihout the ideas, features etc. Now I can say it, enough.
          This is gives me change my plans of this lib and also <a href="https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/">this one</a> changes everything.</p>
          <p>I’m gonna continue my chapter, to help maintain <strong>Twitch4J</strong> library. Now I have finished <a href="https://twitch4j.github.io/">new website</a> for them.
          I can still help them for more. I have trying to return this place. Now gonna finish my project and try migrate some projects from Bintray to Central. I have to.</p>
          <p>In the final words. Thank you soo much to be part of the journey. See you someday after pandemic is over. We will meet again.</p>
          <p><em><strong>DZIĘKUJE</strong></em> :)</p>
        </main>
        {{- partial "scripts.html" . -}}
    </body>
</html>